spring:
  jpa:
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    hibernate:
      ddl-auto: update
    show-sql: true
  datasource:
    url: ${DATABASE_URL}
    username: ${MYSQL_USER}
    password: ${MYSQL_PASSWORD}
    driver-class-name: com.mysql.jdbc.Driver
    tomcat:
      max-active: 50
      max-wait: 10000
      test-on-borrow: true
  jackson:
    serialization:
      write_dates_as_timestamps: false

---

spring:
  profiles:
    active: local
  datasource:
    url: jdbc:h2:mem:aramark
    driver-class-name: org.h2.Driver
  h2:
    console:
      enabled: true
      path: /h2
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect