spring:
  jackson:
    serialization:
      write-dates-as-timestamps: false
  jpa:
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    hibernate:
      ddl-auto: update
    show-sql: true
  datasource:
    url: jdbc:mysql://b4br0jg8oe5fx0cn:xj5ndx7muovxuo1u@uyu7j8yohcwo35j3.cbetxkdyhwsb.us-east-1.rds.amazonaws.com:3306/ci7u7uu5uyfn3315?enabledTLSProtocols=TLSv1.2
    username: b4br0jg8oe5fx0cn
    password: xj5ndx7muovxuo1u

server:
  port: ${PORT}
  servlet:
    context-path: '/payments'
---
