<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySellerLabel">Create or edit a Seller</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!seller.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="seller.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="seller.name" required minlength="3"/>
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.minlength">
                   This field is required to be at least 3 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_lastname">Lastname</label>
            <input type="text" class="form-control" name="lastname" id="field_lastname"
                [(ngModel)]="seller.lastname" required minlength="2"/>
            <div [hidden]="!(editForm.controls.lastname?.dirty && editForm.controls.lastname?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.lastname?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.lastname?.errors?.minlength">
                   This field is required to be at least 2 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_username">Username</label>
            <input type="text" class="form-control" name="username" id="field_username"
                [(ngModel)]="seller.username" required minlength="2"/>
            <div [hidden]="!(editForm.controls.username?.dirty && editForm.controls.username?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.username?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.username?.errors?.minlength">
                   This field is required to be at least 2 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_createdAt">Created At</label>
            <div class="input-group">
                <input id="field_createdAt" type="text" class="form-control" name="createdAt" ngbDatepicker  #createdAtDp="ngbDatepicker" [(ngModel)]="seller.createdAt"
                required/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="createdAtDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.createdAt?.dirty && editForm.controls.createdAt?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.createdAt?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="seller.userId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
